* {scrollbar-color:#2a2c2e #1c1e1f;}
html,body {
font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
font-size:17px;
line-height:1.6;
height:100%;
background-color:#1A1C1D;
color:#D8D6D0;
margin:0;
}
a {
text-decoration:none;
color:#389DFF;
}
a:hover {
text-decoration:underline;
}
aside {
background-color:#2d3133;
height:100%;
width:200px;
z-index:1;
top:0;
left:0;
overflow-y:auto;
position:fixed;
display:flex;
flex-direction:column;
align-items:center;
border-right:1px solid #3D3D3D;
transition:.3s;
}
aside a {
color:#EEE;
}
aside i[class^=fa] {
padding:0 .4em 0 0;
}
aside header {
background-color:#23282E;
text-align:center;
display:flex;
align-items:center;
width:100%;
flex-direction:column;
border-bottom:1px solid #3D3D3D;
}
aside header img {
margin-top:20px;
min-width:150px;
max-width:150px;
border-radius:5px;
}
aside nav {
list-style:none;
width:100%;
display:flex;
flex-direction:column;
align-items:center;
margin:0;
padding:20px 0 0 0;
}
aside nav a {
width:100%;
min-height:30px;
overflow-x:hidden;
overflow-y:auto;
white-space:nowrap;
text-align:center;
transition:.2s;
padding:10px 0;
}
#branding {
font-size:32px;
margin-top:10px;
margin-bottom:20px;
color:#bcbcc4;
}
#closebtn {
transition:.3s;
border-radius:7px;
position:fixed;
left:200px;
top:0;
color:rgba(238,238,238,0.664);
background-color:rgba(61,61,61,0.555);
padding:10px;
}
.meta {
color:#9c978f;
font-size:small;
}
main {
display:flex;
flex-direction:column;
margin-left:200px;
height:100%;
transition:.3s;
padding:0;
}
button {
border:none;
font-size:16px;
color:#FFF;
margin:5px;
padding:15px 32px;
}
.content {
width:90%;
word-break:break-word;
margin:0 auto auto auto;
}
table {
border-collapse:collapse;
}
table,th,td {
border:1px solid #616060;
}
th,td {
padding:5px 10px;
}
tr:nth-child(even) {
background-color:#464545;
}
h1,h2,h3 {
border-bottom:1px solid #3D3D3D;
}
#title {
text-align:center;
padding-bottom:5px;
margin:20px;
}
.spacer {
height:50px;
}
pre {
overflow:auto;
background-color:#2C2F30;
font-size:16px;
padding:5px;
}
img {
max-width:100%;
}
blockquote {
border-left:10px solid #2C2C2C;
padding-left:10px;
}
.section {
display:flex;
flex-direction:column;
}
.nav-horizontal {
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
font-size:30px;
text-align:center;
margin:0 auto;
}
ul.pagination {
display:flex;
flex-direction:row;
justify-content:space-around;
align-items:center;
list-style-type:none;
font-size:30px;
margin-top:50px;
padding-top:30px;
border-top:1px solid #3D3D3D;
}
.grayed-out {
color:#464545;
}
footer {
margin-top:10px;
border-top:1px solid #3D3D3D;
background-color:#1e2227;
padding:10px;
}
.foot-tb {
margin-left:auto;
margin-right:auto;
border:none;
}
.foot-tb-top {
padding:0 70px 0 70px;
}
.foot-tb-cel {
text-align:center;
border:none;
background-color:#1e2227;
}
.copyright {
bottom:0;
text-align:center;
}
aside a:hover,.nav-top .nav-prev .nav-next:hover {
text-decoration:none;
}
aside nav a:hover,th {
background-color:#304b66;
}
@media only screen and max-width 700px {
#sidenav {
width:0;
}
#main {
margin-left:0;
}
#closebtn {
left:0;
}
.content {
width:95%;
margin:0 auto auto auto;
}
}
@media only screen and min-width 1200px {
.content {
width:70%;
margin:0 auto auto auto;
}
}
