<footer>
<table class="foot-tb">
    {{if ne .Section ""}}
    <tr><td class="foot-tb-cel">
        {{with .PrevInSection}}
            <a href="{{.Permalink}}"><strong>&#10096;</strong></a>
        {{else}}
            <a class="grayed-out" href="javascript:void()"><strong>&#10096;</strong></a>
        {{end}}
        <a class="foot-tb-top" href="#">top</i></a>
        {{with .NextInSection}}
            <a href="{{.Permalink}}"><strong>&#10097;</strong></a>
        {{else}}
            <a class="grayed-out" href="javascript:void()"><strong>&#10097;</strong></a>
        {{end}}
    </td></tr>
    {{end}}

{{if (or (isset .Site.Params "mail") (isset .Site.Params "phone") ) }}
    <tr><td class="foot-tb-cel">
      {{with .Site.Params.mail}}
          <div>
              <i>&#9993;</i> <a href="mailto:{{.}}">{{.}}</a> 
          </div>
      {{end}}
      {{with .Site.Params.phone}}
      <div>
          <i>&#9743;</i> {{.}} 
      </div>
      {{end}}
    </td></tr>
{{end}}
{{with .Site.Copyright}}
    <tr><td class="foot-tb-cel">
<div class="copyright meta">{{.}}</div>
    </td></tr>
{{end}}
</table>

</footer>
