<footer>
<table style="width: 100%">
    {{if ne .Section ""}}
    <tr><td style="text-align:center">
        {{with .PrevInSection}}
            <a href="{{.Permalink}}"><strong>&#10096;</strong></a>
        {{else}}
            <a class="grayed-out" href="javascript:void()"><strong>&#10096;</strong></a>
        {{end}}
        <a style="padding: 0 70px 0 70px" href="#">top</i></a>
        {{with .NextInSection}}
            <a href="{{.Permalink}}"><strong>&#10097;</strong></a>
        {{else}}
            <a class="grayed-out" href="javascript:void()"><strong>&#10097;</strong></a>
        {{end}}
    </td></tr>
    {{end}}

{{if (or (isset .Site.Params "mail") (isset .Site.Params "phone") ) }}
    <tr><td style="text-align:center">
      {{with .Site.Params.mail}}
          <div class="footer-mail">
              <i>&#9993;</i> <a href="mailto:{{.}}">{{.}}</a> 
          </div>
      {{end}}
      {{with .Site.Params.phone}}
      <div class="footer-phone">
          <i>&#9743;</i> {{.}} 
      </div>
      {{end}}
    </td></tr>
{{end}}
{{with .Site.Copyright}}
    <tr><td style="text-align:center">
<div class="copyright meta">{{.}}</div>
    </td></tr>
{{end}}
</table>

<!--
<div class="footerx">
    {{if ne .Section ""}}
    <div style="width: 20%; margin: 0 auto;"><!-- class="footer-nav"-->
        {{with .PrevInSection}}
            <a href="{{.Permalink}}"><strong>&#10096;</strong></a>
        {{else}}
            <a class="grayed-out" href="javascript:void()"><strong>&#10096;</strong></a>
        {{end}}
        <a style="padding: 0 70px 0 70px" href="#">top</i></a>
        {{with .NextInSection}}
            <a href="{{.Permalink}}"><strong>&#10097;</strong></a>
        {{else}}
            <a class="grayed-out" href="javascript:void()"><strong>&#10097;</strong></a>
        {{end}}
    </div>
    {{end}}

{{if (or (isset .Site.Params "mail") (isset .Site.Params "phone") ) }}
  <div class="contact-info">
      {{with .Site.Params.mail}}
          <div class="footer-mail">
              <i>&#9993;</i> <a href="mailto:{{.}}">{{.}}</a> 
          </div>
      {{end}}
      {{with .Site.Params.phone}}
      <div class="footer-phone">
          <i>&#9743;</i> {{.}} 
      </div><br>
      {{end}}
  </div>
{{end}}
{{with .Site.Copyright}}
<div class="copyright meta">{{.}}</div>
{{end}}
</div>
-->

</footer>
